@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="header-title">New Users</h5>
                    </div>
                    <div class="card-body new-user">
                         <div style="justify-content: center;">
     <h1 style="color: #242c6d;
    text-align: center;"> Hello, Welcome To Our Website </h1>   
    
   
     <div class="row">   
    <div class="column">   
        <div class="block">  
            <!-- Add user icon to the counter -->  
        <p><i class="fa fa-user"></i></p>   
        <h3> 65+ </h3>   
        <p> Total </p>   
    </div>   
        </div>  
          
    <div class="column">   
        <div class="block">  
                <!-- Add book icon to the counter -->  
        <p><i class="fa fa-book"></i></p>   
        <h3> 75k+ </h3>   
        <p> Success </p>   
        </div>  
    </div>   
          
    <div class="column">   
        <div class="block">  
            <!-- Add smilie icon to the counter -->  
        <p><i class="fa fa-book"></i></p>   
        <h3> 150+ </h3>   
        <p> Pending </p>   
        </div>  
    </div>   
  
    <div class="column">   
        <div class="block">  
            <!-- Add coffee cup icon to the counter -->  
        <p><i class="fa fa-coffee"></i></p>   
        <h3> 100+ </h3>   
        <p> Failed </p>   
        </div>  
    </div>   
    </div>   
    </div> 
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="header-title">Order List</h5>
                    </div>
                    <div class="card-body new-user">
                        <h1>Admin Panel</h1>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- end container -->
</div>

