@{
    ViewData["Title"] = "Vendor Master";
}
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fas fa-map-marker-alt"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">Vendor</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <input type="hidden" id="hdnIP"/>
            <input type="hidden" id="hdnIPType"/>
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header bg-primary text-white h5"> Vendor Master
                        <div class="float-right">  <button id="btnNew" class="btn btn-light btn-sm ">New</button></div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-1 form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input id="txtSearch" class="form-control text-left" placeholder="Search Vendor" />
                            </div>
                        </div>
                        <div class="table-responsive div-scroll">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblVendorMaster">
                                <thead class="bg-tableth table-fix-head">
                                    <tr>
                                        <th scope="col">#</th>
                                    @*    <th scope="col">Actions</th>*@
                                        <th scope="col">Vendor Name</th>
                                       @* <th scope="col">Entry Date</th>*@
                                      @*  <th scope="col">Modify Date</th>*@
                                      <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#txtSearch').focus();
                $("#txtSearch").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $('#tblVendorMaster tbody tr').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            }, 500);
            loadVendor();
        });
        var loadVendor =  ()=> {
            preloader.load();
            $.post('/VendorList')
                .done(function (result) {
                    $('tbody').html(result);
                    
                    //$('tr div.dropdown-menu a.dropdown-item').click(function () {
                    //    var id = 0;
                    //    id = $(this).closest('tr').data().itemId;
                    //    var ar = $(this).closest('tr').data().ar;
                        
                    //    $.post('/amc', { AreaID: id, Area: ar })
                    //        .done(function (result) {
                    //            resultReload(result);
                    //            mdlA.id = 'mymodel';
                    //            mdlA.content = result;
                    //            mdlA.options.backdrop = 'static';
                    //            mdlA.alert(mdlA.size.default);
                    //            $('button.close span,#mdlCancel').unbind().click(function () {
                    //                mdlA.dispose();
                    //            });
                    //        }).catch(function (xhr, ex, message) {
                    //            an.title = 'Oops';
                    //            an.content = message;
                    //            an.alert(an.type.failed);
                    //            an.autoClose = 2;
                    //        }).fail(function (xhr) {
                    //            if (xhr.status == 500) {
                    //                an.title = 'Oops';
                    //                an.content = 'Server error';
                    //                an.alert(an.type.failed);
                    //            }
                    //            if (xhr.status == 0) {
                    //                an.title = 'Oops';
                    //                an.content = 'Internet Connection was broken';
                    //                an.alert(an.type.failed);
                    //            }
                    //        }).always(function () {
                    //            preloader.remove();
                    //        });
                    //});
                })
                .fail(function () {
                    $(this).attr('checked', Is == false);
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                })
                .always(function () {
                    preloader.remove();
                });
        }


        $('#btnNew').on('click', () => {
            debugger;
          //  preloader.load();
            $.post('/VendorAdd')
                .done(function (result) {
                    console.log(result);                   
                    mdlA.id = 'mymodel1';
                    mdlA.content = result;
                    mdlA.options.backdrop = 'static';
                    mdlA.alert(mdlA.size.default);
                    $('button.close span,#mdlCancel').unbind().click(function () {
                        mdlA.dispose();
                    });
                }).fail(function (xhr) {
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                }).always(function () {
                    preloader.remove();
                });
        });
    </script>
}
