@using Roundpay_Robo.AppCode.Model;
@model List<VendorMaster>

@{
    var counter = 1;
}

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <tr data-item-id="@item.ID" data-ar="@item.VendorName">
            <td>@counter</td>
            <td>@item.VendorName</td>
        </tr>
        counter = counter + 1;
    }
}
else
{
    <tr rowspan="2">
        <td colspan="9">
            <center>No Record Found</center>
        </td>
    </tr>
}

